[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow-gpu = "==1.14"
scipy = "*"
pillow = "*"
plyfile = "*"
matplotlib = "*"
imageio = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"
